In [0]:
%sql
CREATE TABLE IF NOT EXISTS silver_erp.silver_erp_cust_az12 (
  cid STRING,
  bdate DATE,
  gen STRING
);

In [0]:
%sql
INSERT INTO silver_erp.silver_erp_cust_az12 (
  cid,
  bdate,
  gen
)
SELECT
  CASE 
    WHEN cid LIKE 'NAS%' THEN SUBSTRING(cid, 4, LENGTH(cid)) 
    ELSE cid 
  END AS cid,

  CASE 
    WHEN bdate > CURRENT_DATE THEN NULL 
    ELSE bdate 
  END AS bdate,

  CASE 
    WHEN UPPER(TRIM(gen)) IN ('F', 'FEMALE') THEN 'Female'
    WHEN UPPER(TRIM(gen)) IN ('M', 'MALE') THEN 'Male'
    ELSE 'n/a' 
  END AS gen

FROM bronze_erp.bronze_cust_az12;

In [0]:
%sql
SELECT COUNT(*) FROM silver_erp.silver_erp_cust_az12;
SELECT * FROM silver_erp.silver_erp_cust_az12 LIMIT 10;

In [0]:
%sql
CREATE TABLE IF NOT EXISTS silver_erp.silver_erp_loc_a101 (
  cid STRING,
  cntry STRING
);

In [0]:
%sql
INSERT INTO silver_erp.silver_erp_loc_a101 (
  cid,
  cntry
)
SELECT
  REPLACE(cid, '-', '') AS cid,
  CASE 
    WHEN TRIM(cntry) IN ('US', 'USA') THEN 'United States'
    WHEN TRIM(cntry) = 'DE' THEN 'Germany'
    WHEN TRIM(cntry) = '' OR cntry IS NULL THEN 'n/a'
    ELSE TRIM(cntry)
  END AS cntry
FROM bronze_erp.bronze_loc_a101;

In [0]:
%sql
SELECT COUNT(*) FROM silver_erp.silver_erp_loc_a101;
SELECT * FROM silver_erp.silver_erp_loc_a101 LIMIT 10;

In [0]:
%sql
CREATE TABLE IF NOT EXISTS silver_erp.silver_erp_px_cat_g1v2 (
  id STRING,
  cat STRING,
  subcat STRING,
  maintenance STRING
);

In [0]:
%sql
INSERT INTO silver_erp.silver_erp_px_cat_g1v2 (
  id,
  cat,
  subcat,
  maintenance
)
SELECT
  id,
  cat,
  subcat,
  maintenance
FROM bronze_erp.bronze_px_cat_g1v2;

In [0]:
%sql
SELECT COUNT(*) FROM silver_erp.silver_erp_px_cat_g1v2;
SELECT * FROM silver_erp.silver_erp_px_cat_g1v2 LIMIT 10;